<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<div class="zta_test">
    <div class="zta_boxes">
        <textarea id="zta1" placeholder="Url" name="url"></textarea>
        <textarea id="zta2" class="json" name="params" placeholder="Params (json)"></textarea>
    </div>
    <br>

    <div class="zta_boxes">
        <textarea id="zta1" name="request" placeholder="Number of requests in 1 second"></textarea>
        <textarea id="zta2" name="seconds" placeholder="Time (seconds)"></textarea>
    </div>

    <select id="preExec" name="method" placeholder="Method">
        <option value="">Method</option>
        <option value="get">Get</option>
        <option value="post">Post</option>
    </select>
    <div class="zta_boxes" style="text-align: center;">
        <button class="run">Run</button>
        <button class="cancel">Stop</button>
    </div>

    <div id="zta_output">
    </div>

</div>

<footer>
    <% include partials/footer %>
</footer>

</body>

<script>
    "use strict";

    /**
     * Call
     */
    $(document).ready(function () {
        PerformanceTesting.Constructor.SetJsonExample();
        PerformanceTesting.Report.Show()
    });

    /**
     * Property default
     */
    let PerformanceTesting;
    (function (PerformanceTesting) {

        //Set example json
        PerformanceTesting.Constructor = {
            SetJsonExample: function () {
                // arbitrary js object:
                const myJsObj = {
                    data: {
                        id: '123',
                        username: 'test',
                        email: 'test@gmail.com',
                        password: '123456'
                    }
                };

                // using JSON.stringify pretty print capability:
                const str = JSON.stringify(myJsObj, undefined, 4);
                // display pretty printed object in text area:
                $('.json').html(str);
            }
        };


        /**
         * Send data socket IO
         * object data
         * @type {{Show: Show}}
         */
        PerformanceTesting.Report = {
            Show: function () {
                const socket = io();
                $('.run').on('click', function () {
                    $('#zta_output').html('');
                    const $params = JSON.parse($('textarea[name="params"]').val());
                    const data = {
                        url: $('textarea[name="url"]').val(),
                        params: $params,
                        request: $('textarea[name="request"]').val(),
                        second: $('textarea[name="seconds"]').val(),
                        method: $('select[name="method"]').val(),
                    };

                    socket.emit('test-api', data);

                    socket.on('test-api', function(response){
                        if (typeof response.successful !== 'undefined') {
                            const label = `<label>Second: ${response.request}  <span class="label label-success">Success:${response.successful}</span> <span class="label label-warning">Fail:${response.failed}</span></label><br>`;
                            $('#zta_output').append(label);
                        }
                    });
                });

                $('.cancel').click(function(){
                    socket.disconnect();
                });
            }
        };

        // Ajax of MANAGER pages will place here.
        PerformanceTesting.Common = {
            Promise: function ($data, urlTo, $method) {
                return Promise.resolve(
                    $.ajax({
                        url: urlTo,
                        type: $method,
                        dataType: 'json',
                        data: $data
                    })
                );
            }
        };
    })((PerformanceTesting = {}) || PerformanceTesting);

    // To avoid confict with other Ajax global variable, We will appending properties instead of override it.
    // Some js minify tool will assign Ajax variable to file_name_liked namespace as like bellow.
    // Ajax_facade.Ajax = Ajax;
    // To be safe, We will assign Ajax to window variable.

    window.PerformanceTesting = window.PerformanceTesting ? window.PerformanceTesting : PerformanceTesting;
</script>
</html>
